body{
    margin:0;
}





.header{
    background-image: url(../images/Igroki/igroki.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
   
}

 .nav-item{
    color: #fff;
    display: flex;
    flex-direction: column; /* Устанавливаем направление в колонку */
    text-decoration: none; /* Убирает подчеркивание */
    margin:60px;
    
    position: relative; /* Устанавливаем позиционирование */
            top: -550px; /* Поднимаем блок выше */
            left: -10px; /* Сдвигаем блок левее */
    
    transition: color 0.3s linear;
}
.nav-item:hover {
    color: #d81d1d;
}
.drako{
    position: relative; /* Устанавливаем позиционирование */
            top: -1070px; /* Поднимаем блок выше */
            left: 10px; /* Сдвигаем блок левее */
}