body{
    margin: 0;
}





.header{
    background-image: url('../images/Sponsori/sponsori.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.a {
    padding: 0;   /* Удалите отступы */
    margin: 0;    /* Удалите поля */
    border: none; /* Убедитесь, что границы нет */
    display: inline-block; /* Или установите display: block для более устойчивого поведения */
}




