body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.container {
    margin: 0 166px;
}

.header {
    background-image: url("../images/Glavnaja/bg1.jpg"); /* Используем относительный путь */
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-line {
    padding-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Добавил для правильного расположения элементов */
}

.header-logo img {
    height: 20px; /* Фиксированный размер для логотипа */
}

.nav {
    display: flex;
    flex-direction: column;  /* Столбец */
    align-items: flex-start; /* Выравнивание по левому краю */
    gap: 8px;              /* Расстояние между пунктами */
    margin-left: 10px;      /* Отступ слева */
}

.nav-item {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    writing-mode: horizontal-tb; /* Горизонтальный текст (по умолчанию) */
    transform: none;             /* Убираем поворот */
    padding: 5px 0;
    transition: color 0.3s ease;
}
}

.nav-item:hover {
    color: #d81d1d;
}

.social-icons {
    display: flex;
    align-items: center;
    gap: 20px; /* Отступ между иконками */
}

.social-icons a {
    transition: transform 0.3s ease;
}

.social-icons a:hover {
    transform: scale(1.1);
}

.social-icons img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin-left: 20px
}