body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

header .logo {
    margin-left: 440px;
    
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    margin-left: 510px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px 0;
}

article {
    background: #fff;
    margin: 25px 0;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,1,0,0.1);
}

.post-image {
    max-width: 50%;
    height: auto;
    border-radius: 5px;
}

.read-more {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #3498db;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
